// Kakao button
div.kakao
    a(href="https://pf.kakao.com/_vgJps/chat" target="_blank")
        img(
            width="56px"
            height="56px"
            src="assets/img/kakao.svg"
            alt="카카오톡 문의하기"
            title="카카오톡 문의하기"
        )

